body {
    background-color: #1B262C;
    color: #BBE1FA;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

button {
    border: 0 none;
    outline: 0 none;
}

#headingTxt {
    display: flex;
    /* Why even is this idk*/
    margin-bottom: 48px;
    color: #3282B8;

}

#headingTxt h1 {
    font-weight: 700;
    font-size: 48px;
}

li {
    list-style: none;

}

ul {
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.choiceTxt,
.scoresTxt {
    display: flex;
    justify-content: space-evenly;
    margin: 26px 32px;
}

.scoresItem {
    min-width: 200px;
    text-align: center;
}

.choiceItem {
    min-width: 200px;
    text-align: center;
}

.winnerDiv {
    min-width: 500px;
    min-height: 100px;
    text-align: center;
}

#retryDiv {
    text-align: center;
    justify-content: center;
}

.playerBtn,
.retryBtn{
    background-color: #1B262C;
    border: 2px solid #BBE1FA;
    margin: 24px;
    width: 128px;
    height: 128px;
}

.retryBtn{
    color: #BBE1FA;
    font-weight: 500;
    font-size: 24px;
}


.playerBtn.rock{
    background:url('./images/rock.png') center no-repeat; 
    background-size: 85% 85%;
}
.playerBtn.paper{
    background:url('./images/paper.png') center no-repeat; 
    background-size: 85% 85%;
}
.playerBtn.scissors{
    background:url('./images/scissors.png') center no-repeat; 
    background-size: 85% 85%;
}
.gameButtons{
    min-height: 208px;
    display: flex;
}

/* color palette
https://colorhunt.co/palette/1b262c0f4c753282b8bbe1fa
#1B262C
#0F4C75
#3282B8
#BBE1FA
*/