li{
    list-style: none;
    
}
ul{
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.choiceTxt, .scoresTxt{
    display: flex;
    justify-content: space-evenly;
    margin: 26px 32px;
}

.scoresItem{
    min-width: 200px;
    text-align: center;
}

.choiceItem{
    min-width: 200px;
    text-align: center;
}

.winnerTxt{
    min-width: 500px;
    text-align: center;
}